<section class="landing__hero flex-column">
  <header class="landing__header flex-row">
  </header>

  <div class="hero__content flex-column">
    <h1 class="text-h1" style="color: var(--white-font-color);">Olá Governo,</h1>
    <h1 class="text-h1" style="color: var(--white-font-color);">SaneaSP</h1>
    
    <p class="text-lg hero__subtitle" style="color: var(--white-font-color);">
      Aplicação web feita em **Angular** que permitirá que **cidadãos denunciem problemas de saneamento básico** em suas regiões. 
      Organizações parceiras podem responder às denúncias, personalizar as experiências.
    </p>

    <button class="button button--primary text-lg button__cta" style="margin-top: var(--space-8);">
      Conheça a Plataforma (Demo)
    </button>
  </div>
</section>
